@CHARSET "ISO-8859-1";

.pivot {
	margin-top: 10px;
}

.pivot .row-header {
	font-weight: bold;
}

.pivot .grand-total {
	color: #3A87AD;
	font-weight: bold;
}

.areas {
	padding: 5px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.area .name {
	font-weight: bold;
	padding: 5px;
}

.area .field {
	float: left;
	padding: 5px;
	margin-right: 5px;
	border: 1px solid #eee;
	background-color: #336699;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 11px;
	font-weight: bold;	
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
}

.area .field-number {
	background-color: #669966;	
}

.area ol.fields {
	list-style-type: none;
	float: left;
	display: block;
}

.pivot-placeholder {
	float: left;
	padding: 5px;
	margin-right: 5px;
	border: 1px dashed #ddd;
	background-color: #f0f0f0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 14px;
	white-space: nowrap;
	vertical-align: baseline;
}

.pivot-config-store-button {
	float:right;
}