@CHARSET "ISO-8859-1";

.pivot {
	margin-top: 10px;
}

.pivot .row-header {
	font-weight: bold;
}

.pivot .grand-total {
    color: #3A87AD;
    font-weight: bold;	
}

.areas {
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.area .name {
	font-weight: bold;
    padding: 5px;
    margin: 3px;
}

.area .value-container {
	float: left;
    padding: 5px;
    margin: 3px;
    border: 1px solid #eee;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.area .value {
	margin-right: 8px;
	margin-left: 2px;
}

.area .initiate {
    margin-right: 3px;
    background: url(/images/initiate.gif) no-repeat center center;
    cursor: move;
}

.area .drop-here {
	color: gray; 
	width: 100%;
	text-align: center;
}

#wicketDebugLink {
	font-size: 10px;
}

div.wicket-modal div.w_caption {
    height: 1.7em !important;   
}

h3.w_captionText {
    font-size: 13px !important;
}
